# FRONTEND
VITE_API_URL=http://localhost:8787

# BACKEND
BOT_TOKEN=__PUT_TELEGRAM_BOT_TOKEN_HERE__
APP_ORIGIN=https://nova-lc-unit-quiz.vercel.app
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=__PUT_SUPABASE_SERVICE_ROLE_OR_ANON_KEY__
PORT=8787

